header{
    .menu{
        ul{
            padding: 0;
            li{
                a{
                    padding: 15px;
                    display: block;
                    text-decoration: none;
                    font-size: 1.2em;
                }
            }
        }
    }
}